@import '../../sassVariables';

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>* {
        margin-top: 2rem;
    }

    & :first-child {
        color: $primary-color;

    }

    & p {
        text-align: center;
    }
}