@import '../../sassVariables';

.card-body {
    padding: 1rem;
    border: 2px solid $secondary-color;
    border-radius: $radius;
}

.card-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    svg {
        color: $secondary-color;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .show-icon {
        opacity: 1;
    }
}