$primary-color: #476072;
$secondary-color: #548CA8;
$white-color: #EEEEEE;
$dark-color: #1c1c1c;

//box shadow default styles
$shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);

//corner radius
$radius: 5px;